{% extends '@App/base.html.twig' %}

{% block content %}
    <h1>Star Rentals</h1>

    <h2>Clients list</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Actions</th>
        </tr>
        {% for c in clients %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.firstname }}</td>
                <td>{{ c.lastname }}</td>
                <td><a href="{{ path('app_client_update', { 'client': c.id }) }}">Modify</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No clients in database</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Other actions</h2>

    <ul>
        <li><a href="{{ path('app_client_create') }}">Create client</a></li>
    </ul>
{% endblock %}
